<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>intouch2</display-name>
  <filter>
    <filter-name>Compress</filter-name>
    <filter-class>org.claros.intouch.common.filters.GZIPFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.cl</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.claros.intouch.common.filters.SessionListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>InitiatorBase</servlet-name>
    <display-name>InitiatorBase</display-name>
    <servlet-class>org.claros.commons.configuration.Initiator</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InitiatorMail</servlet-name>
    <display-name>InitiatorMail</display-name>
    <servlet-class>org.claros.commons.mail.configuration.Initiator</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InitiatorInTouch</servlet-name>
    <display-name>InitiatorInTouch</display-name>
    <servlet-class>org.claros.intouch.common.utility.Initiator</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>org.claros.intouch.profiling.services.LoginService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListHeadersService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.ListHeadersService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FetchMailService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.FetchMailService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetFoldersService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.GetFoldersService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DumpPartService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DumpPartService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMailService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DeleteMailService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MoveMailsService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.MoveMailsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoCompleteService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.AutoCompleteService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMailService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.SendMailService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendReadReceiptMailService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.SendReadReceiptMailService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadAttachmentService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.UploadAttachmentService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAllAttachmentsService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DeleteAllAttachmentsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveDraftService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.SaveDraftService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAttachmentService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DeleteAttachmentService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetHeaderInfoService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.GetHeaderInfoService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUnreadCountService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.GetUnreadCountService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllHeadersService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.GetAllHeadersService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateMailFolderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.CreateMailFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RenameMailFolderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.RenameMailFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMailFolderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.DeleteMailFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmptyMailFolderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.EmptyMailFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttForwardArrangeService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.AttForwardArrangeService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SavePreferencesService</servlet-name>
    <servlet-class>org.claros.intouch.preferences.services.SavePreferencesService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadPreferencesService</servlet-name>
    <servlet-class>org.claros.intouch.preferences.services.LoadPreferencesService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>org.claros.chat.ajax.Authenticate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Contacts</servlet-name>
    <servlet-class>org.claros.chat.ajax.Contacts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Listener</servlet-name>
    <servlet-class>org.claros.chat.ajax.Listener</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Subscriptions</servlet-name>
    <servlet-class>org.claros.chat.ajax.Subscriptions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.claros.intouch.profiling.services.LogoutService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sender</servlet-name>
    <servlet-class>org.claros.chat.ajax.Sender</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearServlet</servlet-name>
    <servlet-class>org.claros.chat.controllers.ClearServlet</servlet-class>
	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ShowAvatar</servlet-name>
    <servlet-class>org.claros.chat.ajax.ShowAvatar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Preferences</servlet-name>
    <servlet-class>org.claros.chat.ajax.Preferences</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Status</servlet-name>
    <servlet-class>org.claros.chat.ajax.Status</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Roaster</servlet-name>
    <servlet-class>org.claros.chat.ajax.Roaster</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkAsReadService</servlet-name>
    <servlet-class>org.claros.chat.ajax.MarkAsReadService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutChatService</servlet-name>
    <servlet-class>org.claros.chat.ajax.LogoutChatService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetListService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.GetListService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetContactDetailsService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.GetContactDetailsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveContactService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.SaveContactService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteContactService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.DeleteContactService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportVcardService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.ExportVcardService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportAllContactsService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.ExportAllContactsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportContactsService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.ImportContactsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveSenderService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.SaveSenderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveCheckContactService</servlet-name>
    <servlet-class>org.claros.intouch.contacts.services.SaveCheckContactService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateNewNoteService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.CreateNewNoteService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeColorService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.ChangeColorService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetPosService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.SetPosService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveNoteService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.SaveNoteService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteNoteService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.DeleteNoteService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNotesByFolderService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.GetNotesByFolderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNotebooksService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.GetNotebooksService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNotebookService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.AddNotebookService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteNotebookService</servlet-name>
    <servlet-class>org.claros.intouch.notes.services.DeleteNotebookService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRssItemsService</servlet-name>
    <servlet-class>org.claros.intouch.rss.services.GetRssItemsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListNewMailHeadersService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.ListNewMailHeadersService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImapIdleCheckService</servlet-name>
    <servlet-class>org.claros.intouch.webmail.services.ImapIdleCheckService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEventService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.GetEventService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveEventService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.SaveEventService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEventService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.DeleteEventService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEventsService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.GetEventsService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTasksService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.GetTasksService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTaskService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.DeleteTaskService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClickTaskService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.ClickTaskService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveTaskService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.SaveTaskService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTaskService</servlet-name>
    <servlet-class>org.claros.intouch.tasks.services.GetTaskService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckAlertService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.CheckAlertService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetReminderToOkService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.SetReminderToOkService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckAlertBatchService</servlet-name>
    <servlet-class>org.claros.intouch.calendar.services.CheckAlertBatchService</servlet-class>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GetFileListService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.GetFileListService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowImgPreviewService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.ShowImgPreviewService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.DownloadService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteItemService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.DeleteItemService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RenameItemService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.RenameItemService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MoveItemService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.MoveItemService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForwardFileService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.ForwardFileService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateDirService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.CreateDirService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RenameDirService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.RenameDirService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFileService</servlet-name>
    <servlet-class>org.claros.intouch.webdisk.services.UploadFileService</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/profiling/login.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListHeadersService</servlet-name>
    <url-pattern>/webmail/listHeaders.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchMailService</servlet-name>
    <url-pattern>/webmail/fetchMail.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFoldersService</servlet-name>
    <url-pattern>/webmail/getFolders.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DumpPartService</servlet-name>
    <url-pattern>/webmail/dumpPart.service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMailService</servlet-name>
    <url-pattern>/webmail/deleteMail.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoveMailsService</servlet-name>
    <url-pattern>/webmail/moveMails.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoCompleteService</servlet-name>
    <url-pattern>/webmail/autocomplete.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMailService</servlet-name>
    <url-pattern>/webmail/sendMail.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendReadReceiptMailService</servlet-name>
    <url-pattern>/webmail/sendReadReceiptMail.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadAttachmentService</servlet-name>
    <url-pattern>/webmail/uploadAttachment.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAllAttachmentsService</servlet-name>
    <url-pattern>/webmail/deleteAllAttachments.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveDraftService</servlet-name>
    <url-pattern>/webmail/saveDraft.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAttachmentService</servlet-name>
    <url-pattern>/webmail/deleteAttachment.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetHeaderInfoService</servlet-name>
    <url-pattern>/webmail/getHeaderInfo.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUnreadCountService</servlet-name>
    <url-pattern>/webmail/getUnreadCount.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllHeadersService</servlet-name>
    <url-pattern>/webmail/getAllHeaders.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateMailFolderService</servlet-name>
    <url-pattern>/webmail/createFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RenameMailFolderService</servlet-name>
    <url-pattern>/webmail/renameFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMailFolderService</servlet-name>
    <url-pattern>/webmail/deleteFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmptyMailFolderService</servlet-name>
    <url-pattern>/webmail/emptyFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttForwardArrangeService</servlet-name>
    <url-pattern>/webmail/attForwardArrange.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SavePreferencesService</servlet-name>
    <url-pattern>/preferences/savePreferences.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadPreferencesService</servlet-name>
    <url-pattern>/preferences/loadPreferences.cl</url-pattern>
  </servlet-mapping>
  
  <!-- CHAT BEGINS -->
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/chat/authenticate.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Contacts</servlet-name>
    <url-pattern>/chat/contacts.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Listener</servlet-name>
    <url-pattern>/chat/listener.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subscriptions</servlet-name>
    <url-pattern>/chat/subscriptions.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/profiling/logout.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sender</servlet-name>
    <url-pattern>/chat/sender.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAvatar</servlet-name>
    <url-pattern>/chat/avatar.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Preferences</servlet-name>
    <url-pattern>/chat/preferences.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/chat/status.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Roaster</servlet-name>
    <url-pattern>/chat/roaster.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetListService</servlet-name>
    <url-pattern>/contacts/getList.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetContactDetailsService</servlet-name>
    <url-pattern>/contacts/getContactDetails.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveContactService</servlet-name>
    <url-pattern>/contacts/saveContact.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContactService</servlet-name>
    <url-pattern>/contacts/deleteContact.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportVcardService</servlet-name>
    <url-pattern>/contacts/exportVcard.service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportAllContactsService</servlet-name>
    <url-pattern>/contacts/exportAllContacts.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportContactsService</servlet-name>
    <url-pattern>/contacts/importContacts.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveSenderService</servlet-name>
    <url-pattern>/webmail/saveSender.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkAsReadService</servlet-name>
    <url-pattern>/chat/markAsRead.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveCheckContactService</servlet-name>
    <url-pattern>/contacts/saveCheckContact.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutChatService</servlet-name>
    <url-pattern>/chat/logout.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateNewNoteService</servlet-name>
    <url-pattern>/notes/createNewNote.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeColorService</servlet-name>
    <url-pattern>/notes/changeColor.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetPosService</servlet-name>
    <url-pattern>/notes/setPos.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveNoteService</servlet-name>
    <url-pattern>/notes/saveNote.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNoteService</servlet-name>
    <url-pattern>/notes/deleteNote.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNotesByFolderService</servlet-name>
    <url-pattern>/notes/getNotesByFolder.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNotebooksService</servlet-name>
    <url-pattern>/notes/getNotebooks.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNotebookService</servlet-name>
    <url-pattern>/notes/addNotebook.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNotebookService</servlet-name>
    <url-pattern>/notes/deleteNotebook.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRssItemsService</servlet-name>
    <url-pattern>/rss/getRssItems.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListNewMailHeadersService</servlet-name>
    <url-pattern>/webmail/listNewMailHeaders.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImapIdleCheckService</servlet-name>
    <url-pattern>/webmail/imapIdleCheck.service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEventService</servlet-name>
    <url-pattern>/calendar/getEvent.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveEventService</servlet-name>
    <url-pattern>/calendar/saveEvent.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEventService</servlet-name>
    <url-pattern>/calendar/deleteEvent.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEventsService</servlet-name>
    <url-pattern>/calendar/getEvents.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTasksService</servlet-name>
    <url-pattern>/tasks/getTasks.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTaskService</servlet-name>
    <url-pattern>/tasks/deleteTask.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClickTaskService</servlet-name>
    <url-pattern>/tasks/clickTask.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveTaskService</servlet-name>
    <url-pattern>/tasks/saveTask.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTaskService</servlet-name>
    <url-pattern>/tasks/getTask.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckAlertService</servlet-name>
    <url-pattern>/calendar/checkAlert.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetReminderToOkService</servlet-name>
    <url-pattern>/calendar/setReminderOk.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFileListService</servlet-name>
    <url-pattern>/webdisk/getFileList.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowImgPreviewService</servlet-name>
    <url-pattern>/webdisk/showImgPreview.service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadService</servlet-name>
    <url-pattern>/webdisk/download.service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteItemService</servlet-name>
    <url-pattern>/webdisk/deleteItem.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RenameItemService</servlet-name>
    <url-pattern>/webdisk/renameItem.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoveItemService</servlet-name>
    <url-pattern>/webdisk/moveItem.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardFileService</servlet-name>
    <url-pattern>/webdisk/forwardFile.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateDirService</servlet-name>
    <url-pattern>/webdisk/createDir.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RenameDirService</servlet-name>
    <url-pattern>/webdisk/renameDir.cl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFileService</servlet-name>
    <url-pattern>/webdisk/uploadFile.cl</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <taglib>
    <taglib-uri>http://jakarta.apache.org/taglibs/i18n-1.0</taglib-uri>
    <taglib-location>/WEB-INF/tld/i18n.tld</taglib-location>
  </taglib>
</web-app>